{% assign use_case = include.use_case %}
{% assign roles = include.roles %}

{% assign badge-colors = "gem-ig-badge-bg-orange,
gem-ig-badge-bg-grey,
gem-ig-badge-bg-green,
gem-ig-badge-bg-blue,
gem-ig-badge-bg-red,
gem-ig-badge-bg-darkblue"  | split: "," %}
<figure style="width: auto;">
  <table style="width: auto; border: 1px solid #dcdcdc;">
    <tr>
      <th style="padding: 5px; width: 23rem;">Beschreibung</th>
      <td style="padding: 5px;">{{ use_case.description | markdownify }}</td>
    </tr>
    <tr>
      <th style="padding: 5px; width: 23rem;">Vorbedingungen</th>
      <td style="padding: 5px;">{{ use_case.preconditions | markdownify}}</td>
    </tr>
    <tr>
      <th style="padding: 5px; width: 23rem;">Durchzuführende Aktionen</th>
      <td style="padding: 5px;">{{ use_case.actions | markdownify}}</td>

    </tr>
    <tr>
      <th style="padding: 5px; width: 23rem;">Nachbedingungen</th>
      <td style="padding: 5px;">{{ use_case.postconditions | markdownify}}</td>
    </tr>
    <tr>
      <th style="padding: 5px; width: 23rem;">Technische Anwendungsfälle des Medication Service</th>
      <td style="padding: 5px;">{{ use_case.relatedTechnicalUseCases | markdownify }}</td>
    </tr>
    <tr>
      <th style="padding: 5px; width: 23rem;">Relevante(r) Sektor(en)</th>
      <td style="padding: 5px;">
        {% for role in roles %}
          {% if use_case.roles contains role %}
            <span class="badge gem-ig-badge {{ badge-colors[forloop.index0] }}" >
              {{ role | upcase }}
            </span>
          {% endif %}
        {% endfor %}
      </td>
    </tr>
  </table>
  <figcaption><strong>Tabelle:</strong> Fachlicher Anwendungsfall {{ use_case.title }}</figcaption>
</figure>
